LOGIN_URL='https://www.bullvpn.com/login'
USER_NAME='ชื่อผู้ใช้งานของคุณ'
PASSWORD='รหัสผ่านของคุณ'
EMAIL='อีเมลของคุณ'
ERROR_NOTICE_MESSAGE='Username or password is invalid'
ERROR_USER_MESSAGE='Username is required'
ERROR_PASS_MESSAGE='Password is required'
